<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Post A Job</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Post A Job</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post-job-area pt-100">
    <div class="container">
        <div class="post-job-item">
            <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
                <div class="post-job-heading">
                    <h2>Post Your Job</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input type="text" class="form-control" placeholder="UX/UI Designer"  formControlName="jobTitle">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Job Category</label>
                            <div class="job-category-area">
                                <select  class="form-control" id="jobCategory" formControlName="jobCategory">
                                    <option value="IT & Technology" selected>IT & Technology</option>
                                    <option value="Web Developer">Web Developer</option>
                                    <option value="UX/UI Design">UX/UI Design</option>
                                    <option value="SEO">SEO</option>
                                </select>	
                            </div>
                        </div>
                    </div>

                   <!--  <div class="col-lg-6">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" placeholder="Winbrans.com">
                        </div>
                    </div> -->

                  <!--   <div class="col-lg-6">
                        <div class="form-group">
                            <div class="job-currency-area">
                                <label>Company Name</label>
                                <input type="text" class="form-control" placeholder="Winbrans.com">
                                <select>
                                    <option>$USD</option>
                                    <option>EURO</option>
                                    <option>POUND</option>
                                </select>	
                            </div>
                        </div>
                    </div>
                     -->
           <!--          <div class="col-lg-6">
                        <div class="form-group">
                            <label>Vacancies</label>
                            <input type="text" class="form-control" placeholder="10">
                        </div>
                    </div> -->

                <!--     <div class="col-lg-6">
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="210-27 Quadra, Market Street, Victoria Canada">
                        </div>
                    </div> -->

                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="job-type-area">
                                <span>Job Type</span>
                            
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  id="inlineRadio1" value="Full Time" checked formControlName="jobType">
                                    <label class="form-check-label" for="inlineRadio1">Full Time</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  id="inlineRadio2" value="Part Time" formControlName="jobType">
                                    <label class="form-check-label" for="inlineRadio2">Part Time</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  id="inlineRadio3" value="Intern" formControlName="jobType">
                                    <label class="form-check-label" for="inlineRadio3">Intern</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Job Description</label>
                            <textarea id="your_message" rows="8" class="form-control"  formControlName="jobDescription"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="text-left">
                    <button type="submit" class="btn create-ac-btn">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>